<div class="post-bar">
    <div class="post-bar-container">
        <!-- Avatar -->
        <img src="../../../../assets/icons/user.png" alt="" class="avatar">

        <!-- What to post -->
        <div class="post-contents">
            <!-- Input text for post  -->
            <input type="text" class="post-text" placeholder="What is happening?!">

            <!-- Who can reply, default everyone can reply -->
            <p>Everyone can reply</p>

            <!-- Add gifs and images to post -->
            <div class="spice-up">

            </div>
            
        </div>
    </div>
</div>