@use "../../../layout/layout.component.scss" as *;

.sidebar {
    height: 100%; 
    display: flex;
    padding-right: 1rem; 

    @include tablet-screen {
        padding-right: 1.5rem;
    }
}

.sidebar-container {
    height: 100%; 
    padding-top: 10px;
    display: flex;
    flex-direction: column;
} 
