.avatar {
    border-radius: 9999px;
    transition: opacity 0.3s; 

    position: relative;
    cursor: pointer;

    &:hover {
        opacity: 90%;
    }
}

.profile-picture {
    padding: 4px; 
    height: 56px;
    width: 56px;
    object-fit: cover;
    border-radius: 9999px;
}