@use "../../layout/layout.component.scss" as *;

.followbar {
    padding: 4px 6px 4px 6px; // Padding top and bottom 4px, right and left 6px 
    display: none;

    @include desktop-screen {
        display: block;
    }
}

.followbar-container {
    background-color: #262626;
    border-radius: 12px; 
    padding: 4px;

    .followbar-header { 
        color: white;
        font-size: x-large;
        font-weight: 600;
    }
}



.followbar-subcontainer {
    display: flex;
    flex-direction: row;
    gap: 6px;
    margin-top: 4px;
}

.avatar-container {
    display: flex;
    flex-direction: column;

    .name {
        color: white;
        font-weight: 600;
        font-size: small;
    }
    
    .username {
        color: white;
        font-size: small;
    }
}

