<div class="followbar">
    <div class="followbar-container">
        <h2 class="followbar-header"> Who to follow?
        </h2>

        <div class="followbar-subcontainer">
            <!-- Avatar component goes here: -->
            <Avatar/>

            <div class="avatar-container">
                <p class="name">
                    Name
                </p>

                <p class="username">
                    &#64;Username 
                </p>

            </div>

        </div>
    </div>
</div>