
<div class="sidebar">
    <div class="sidebar-container">
        <div class="sidebar-items">
            <!-- Side Bar Items -->
            <app-sidebaritem> <img src="../../../../assets/icons/twitter.svg" alt="logo" class="logo"> </app-sidebaritem>
            <app-sidebaritem> <img src="../../../../assets/icons/explore.svg" alt="logo" class="logo"> </app-sidebaritem>
            <app-sidebaritem> <img src="../../../../assets/icons/notification.svg" alt="logo" class="logo"> </app-sidebaritem>
            <app-sidebaritem> <img src="../../../../assets/icons/message.svg" alt="logo" class="logo"> </app-sidebaritem>
            <app-sidebaritem> <img src="../../../../assets/icons/bookmark.svg" alt="logo" class="logo"> </app-sidebaritem>
            <app-sidebaritem> <img src="../../../../assets/icons/lists.svg" alt="logo" class="logo"> </app-sidebaritem>
            <app-sidebaritem> <img src="../../../../assets/icons/profile.svg" alt="logo" class="logo"> </app-sidebaritem>
            <app-sidebaritem> <img src="../../../../assets/icons/more.svg" alt="logo" class="logo"> </app-sidebaritem>
        </div>
    </div>
</div>